.countContainer {
  position: relative;
  right: 5%;
  margin-left: 15px;
}

.countInfo {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin: 10px 40px 15px;
  color: #33d6ff;
  text-align: left;
  font-weight: bold;
}  